{% extends 'base.html' %}
{% block title %}Главная{% endblock %}
{% block pagename %}Главная{% endblock %}

{% block content %}


<div class="row row-cols-1 row-cols-md-3 mb-3 text-center" style="display: flex;">
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
                <img src="https://www.ultra.kg/upload/resize_cache/iblock/15d/220_200_1/15d94bea16568dccbf86eb222d2f9ec4.jpg"
                     class="card-img-top" alt="Lenovo">
                <div class="card-body">
                    <h5 class="card-title">Lenovo V15 Celeron DC N4020</h5>
                    <p class="card-text">Lenovo V15 Celeron DC N4020 1.1-2.8GHz,4GB,500GB,15.6"HD,RUS,DOS HDMI, IRON
                        GRAY</p>
                    <h3>20000.00 сом</h3>
                    <a href="#" class="btn btn-outline-success mb-3">Подробная информация</a>
                    <a href="#" class="btn btn-outline-danger">Добавить в корзину</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
                <img src="https://www.ultra.kg/upload/resize_cache/iblock/4dd/422_317_1d0e97ea46f4438969ab06dd5b311ca67/4dddcbaa9f44831641aa60bda98d62a2.jpg"
                     class="card-img-top" alt="Lenovo-ip3">
                <div class="card-body">
                    <h5 class="card-title">Lenovo IP3 i3-10110U</h5>
                    <p class="card-text">Lenovo IP3 i3-10110U 2.1-4.1GHz, 4GB,SSD 120GB, 15.6"FHD RUS, HDMI, BLACK</p>
                    <h3>20000.00 сом</h3>
                    <a href="#" class="btn btn-outline-success mb-3">Подробная информация</a>
                    <a href="#" class="btn btn-outline-danger">Добавить в корзину</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
                <img src="https://www.ultra.kg/upload/resize_cache/iblock/dd4/800_800_1d0e97ea46f4438969ab06dd5b311ca67/dd41b509bfaf2f755999f09fa435422b.jpg"
                     class="card-img-top" alt="hp-g7">
                <div class="card-body">
                    <h5 class="card-title">Notebook HP 250 G7</h5>
                    <p class="card-text">Notebook HP 250 G7 1F3J3EA#ACB Intel Celeron N4020 (1.10-2.80GHz), 4GB DDR4,
                        1TB HDD, Intel UHD Graphics 600, 15.6"FHD (1920x1080) LED, WiFi ac, BT 4.2, HD WC, CR, DOS,
                        Русская клавиатура, Black</p>
                    <h3>28000.00 сом</h3>
                    <a href="#" class="btn btn-outline-success mb-3">Подробная информация</a>
                    <a href="#" class="btn btn-outline-danger">Добавить в корзину</a>
                </div>
            </div>
        </div>
</div>

{% endblock %}