{% extends 'base.html' %}
{% block title %}Вакансии{% endblock %}
{% block pagename %}Вакансии{% endblock %}

{% block content %}

<div class="card mb-3 mt-3">
  <div class="card-header bg-dark text-light">
    18.11.22 13:55
  </div>
  <div class="card-body">
    <h5 class="card-title">Требуется продавец-консультант.</h5>
    <p class="card-text">Требуется продавец-консультант с опытом. Знание языков: кыргызский, русский.</p>
    <p class="card-text">График работы: 08:00 - 17-00, ПН-ПТ</p>
    <p class="card-text">Заработная плата: <b>15000 сом в месяц.</b></p>
    <a href="#" class="btn btn-primary">Подать заявку.</a>
  </div>
</div>

<div class="card mb-3 mt-3">
  <div class="card-header bg-dark text-light">
    02.11.22 08:00
  </div>
  <div class="card-body">
    <h5 class="card-title">Требуется курьер.</h5>
    <p class="card-text">Требуется курьер с личным авто.</p>
    <p class="card-text">График работы: 12:00 - 17-00, ПН-ПТ</p>
    <p class="card-text">Заработная плата: <b>500 сомов в день.</b></p>
    <a href="#" class="btn btn-primary">Подать заявку.</a>
  </div>
</div>

<div class="card mb-3 mt-3">
  <div class="card-header bg-dark text-light">
    19.11.22 17:55
  </div>
  <div class="card-body">
    <h5 class="card-title">Требуется переводчик</h5>
    <p class="card-text">Требуется переводчик с английского.</p>
    <p class="card-text">График работы: гибкий.</p>
    <p class="card-text">Заработная плата: <b>50000 сом в месяц.</b></p>
    <a href="#" class="btn btn-primary">Подать заявку.</a>
  </div>
</div>

<div class="card mb-3 mt-3">
  <div class="card-header bg-dark text-light">
    18.10.22 01:55
  </div>
  <div class="card-body">
    <h5 class="card-title">Требуется бухгалтер</h5>
    <p class="card-text">Требуется опытный бухгалтер.</p>
    <p class="card-text">График работы: 08:00 - 17-00, ПН-ПТ</p>
    <p class="card-text">Зарплата: <b>20000 сом в месяц.</b></p>
    <a href="#" class="btn btn-primary">Подать заявку.</a>
  </div>
</div>

<div class="card mb-3 mt-3">
  <div class="card-header bg-dark text-light">
    01.01.22 16:55
  </div>
  <div class="card-body">
    <h5 class="card-title">Требуется менеджер по продажам</h5>
    <p class="card-text">Требуется менеджер по продажам с опытом 5+ лет.</p>
    <p class="card-text">График работы: 08:00 - 18-00, ПН-ПТ</p>
    <p class="card-text">Заработна плата: <b>65000 сом в месяц.</b></p>
    <a href="#" class="btn btn-primary">Подать заявку.</a>
  </div>
</div>

<div class="card mb-3 mt-3">
  <div class="card-header bg-dark text-light">
    20.05.22 13:55
  </div>
  <div class="card-body">
    <h5 class="card-title">Требуются уборщицы</h5>
    <p class="card-text">Требуются уборщицы с опытом более 20 лет.</p>
    <p class="card-text">График работы: 14:00 - 17-00, ПН-ПТ</p>
    <p class="card-text">Заработная плата: <b>20000 сом в месяц.</b></p>
    <a href="#" class="btn btn-primary">Подать заявку.</a>
  </div>
</div>

{% endblock %}